foriba-esmm-cloud-client-app/wsdl/com/foriba/esmm/ESmmService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://foriba.com/eSmm/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://foriba.com/eSmm/">
	<wsdl:types>
		<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://foriba.com/eSmm/">
			<xs:include schemaLocation="./Schemas/ClientESmmServicesTypes-1.0.xsd"/>
			<xs:include schemaLocation="./Schemas/ForibaCommonTypes-1.0.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sendDocumentRequestMessage">
		<wsdl:part element="tns:sendDocumentRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="sendDocumentResponseMessage">
		<wsdl:part element="tns:sendDocumentResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="sendDocumentFaultMessage">
		<wsdl:part element="tns:ProcessingFault" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getDocumentRequestMessage">
		<wsdl:part element="tns:getDocumentRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getDocumentResponseMessage">
		<wsdl:part element="tns:getDocumentResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getDocumentFaultMessage">
		<wsdl:part element="tns:ProcessingFault" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportListRequestMessage">
		<wsdl:part element="tns:getReportListRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportListResponseMessage">
		<wsdl:part element="tns:getReportListResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportListFaultMessage">
		<wsdl:part element="tns:ProcessingFault" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportDataRequestMessage">
		<wsdl:part element="tns:getReportDataRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportDataResponseMessage">
		<wsdl:part element="tns:getReportDataResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportDataFaultMessage">
		<wsdl:part element="tns:ProcessingFault" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="cancelDocumentRequestMessage">
		<wsdl:part element="tns:cancelDocumentRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="cancelDocumentResponseMessage">
		<wsdl:part element="tns:cancelDocumentResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="cancelDocumentFaultMessage">
		<wsdl:part element="tns:ProcessingFault" name="parameter"/>
	</wsdl:message>
	<wsdl:portType name="ForibaESmmServicesPort">
		<wsdl:operation name="sendDocument">
			<wsdl:input message="tns:sendDocumentRequestMessage"/>
			<wsdl:output message="tns:sendDocumentResponseMessage"/>
			<wsdl:fault message="tns:sendDocumentFaultMessage" name="sendDocumentFault"/>
		</wsdl:operation>
		<wsdl:operation name="getDocument">
			<wsdl:input message="tns:getDocumentRequestMessage"/>
			<wsdl:output message="tns:getDocumentResponseMessage"/>
			<wsdl:fault message="tns:getDocumentFaultMessage" name="getDocumentFault"/>
		</wsdl:operation>
		<wsdl:operation name="getReportList">
			<wsdl:input message="tns:getReportListRequestMessage"/>
			<wsdl:output message="tns:getReportListResponseMessage"/>
			<wsdl:fault message="tns:getReportListFaultMessage" name="getReportListFault"/>
		</wsdl:operation>
		<wsdl:operation name="getReportData">
			<wsdl:input message="tns:getReportDataRequestMessage"/>
			<wsdl:output message="tns:getReportDataResponseMessage"/>
			<wsdl:fault message="tns:getReportDataFaultMessage" name="getReportDataFault"/>
		</wsdl:operation>
		<wsdl:operation name="cancelDocument">
			<wsdl:input message="tns:cancelDocumentRequestMessage"/>
			<wsdl:output message="tns:cancelDocumentResponseMessage"/>
			<wsdl:fault message="tns:cancelDocumentFaultMessage" name="cancelDocumentFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ForibaESmmServicesBinding" type="tns:ForibaESmmServicesPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sendDocument">
			<soap:operation soapAction="sendDocument"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="sendDocumentFault">
				<soap:fault name="sendDocumentFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDocument">
			<soap:operation soapAction="getDocument"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getDocumentFault">
				<soap:fault name="getDocumentFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getReportList">
			<soap:operation soapAction="getReportList"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getReportListFault">
				<soap:fault name="getReportListFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getReportData">
			<soap:operation soapAction="getReportData"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getReportDataFault">
				<soap:fault name="getReportDataFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelDocument">
			<soap:operation soapAction="cancelDocument"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="cancelDocumentFault">
				<soap:fault name="cancelDocumentFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ForibaESmmServices">
		<wsdl:port binding="tns:ForibaESmmServicesBinding" name="ForibaESmmServicesPort">
			<soap:address location="https://earsivwstest.fitbulut.com/ClientESmmServicesPort.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>